{% extends "base.html" %}
{% block title %} Welcome {% endblock title %}

{% block content %}
<div class="container">
    <h1>Welcome to the Blog</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis minima ullam aut exercitationem? Quasi dolorum consequuntur praesentium cupiditate rerum veniam reiciendis esse qui cum, aliquam voluptas molestias officiis, corrupti accusamus rem. Esse tenetur tempora ullam deserunt molestiae ad maiores aspernatur magnam, voluptas libero quae deleniti porro iure sint. Dolore?</p>
    <p>Our team is composed of experienced professionals who are passionate about their work.</p>
    <p>Thank you for visiting our site!</p>

{% endblock content %} 